*.gem
*.rbc
/.config
/coverage/
/pkg/
/spec/reports/
tmp/

.bundle
.byebug_history
.DS_Store
.env
.env.local
.env.*.local

Gemfile.lock

log/
storage/
*.sqlite3
*.swp
*.swo
.idea/
.vscode/
Thumbs.db

.serena/
.context/
.vercel
.env*
