--format documentation
--color
--require spec_helper
--pattern {chat_sdk,chat_sdk-slack,chat_sdk-teams,chat_sdk-gchat,chat_sdk-mattermost,chat_sdk-discord,chat_sdk-telegram,chat_sdk-twilio,chat_sdk-messenger,chat_sdk-state-redis,chat_sdk-state-pg,chat_sdk-state-mysql}/spec/**/*_spec.rb,chat_sdk/spec/integration/**/*_spec.rb
